name: Docker Image CI and Trigger Remote Docker Compose

on:
  push:
    branches:
      - master

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout Repository
      uses: actions/checkout@v3

    - name: web docker build and push
      run: |
        docker login -u ${{ secrets.DOCKER_USERNAME }} -p ${{ secrets.DOCKER_PASSWORD }}
        docker build --platform linux/amd64 -t ${{ secrets.DOCKER_USERNAME }}/mncf-homepage .
        docker push ${{ secrets.DOCKER_USERNAME }}/mncf-homepage

    - name: executing remote ssh commands using password
      uses: appleboy/ssh-action@master
      with:
        host: ${{ secrets.REMOTE_SSH_HOST }}
        username: 'ubuntu'
        key: ${{ secrets.REMOTE_SSH_KEY }} 
        port: '22'
        script: |
          whoami
          sudo docker-compose stop
          sudo docker rmi ${{ secrets.DOCKER_USERNAME }}/mncf-homepage:latest
          sudo docker pull ${{ secrets.DOCKER_USERNAME }}/mncf-homepage
          sudo docker-compose up --build -d
